<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon/icon.ico?v=2" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <h1 class="btn-primary">AdidopShop</h1>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @* tung trang *@
    @* @section Scripts {
        <script src="~/js/pages/product.js" asp-append-version="true"></script>
    } *@
</body>

</html>
