@{
    ViewData["Title"] = "Customers Shoes | Adidop ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Video-Slider">
    Video-Slider
</div>
<div class="Customize-Shoes">
    Customize-Shoes
</div>
<div class="Add-Your-Image">
    Add-Your-Image
</div>
<div class="Blank-Canvas">
    Blank-Canvas
</div>
<div class="Customs-for-Kids">
    Customs-for-Kids
</div>
<div class="History">
    History
</div>

