@{
    ViewData["Title"] = "Customers Shoes | Adidop ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Video-Slider w-full h-[500px] bg-gray-300 mb-24">
    Video-Slider
</div>
<div class="Customize-Shoes">
    Customize-Shoes
</div>
<div class="Add-Your-Image">
    Add-Your-Image
</div>
<div class="Blank-Canvas">
    Blank-Canvas
</div>
<div class="Customs-for-Kids">
    Customs-for-Kids
</div>
<div class="History mb-24">
    History
</div>

<div>
    <div class="subscribe-us h-[350px] bg-[#1d1f2e] flex flex-col justify-center items-center mb-24">
        <div class="flex justify-center items-center px-6 min-[480px]:px-0 mb-6 ">
            <div class="w-8 h-px bg-gray-700 "></div>
            <div class="uppercase mx-4 tracking-widest text-gray-400 font-bold text-xs text-center">
                Sign up and get a free shoe care kit.

            </div>
            <div class="w-8 h-px bg-gray-700"></div>
        </div>
        <div class="font-medium text-4xl text-white mb-6">Shoe Care Updates</div>
        <div class="ct-form">
            <div class="flex flex-col md:flex-row justify-center items-center gap-3">
                <div class="ct-form-item text-center">
                    <input type="email" placeholder="awtichcoder@gmail.com" class=" px-6 py-4 w-[350px] min-[480px]:max-w-full max-w-[80%] bg-inherit border-[1px] border-gray-700 outline-none text-white leading-5 hover:border-gray-300 duration-500 focus:border-gray-300 placeholder:uppercase placeholder:text-xs
                    placeholder:tracking-widest placeholder:font-semibold">
                </div>
                <div class="ct-form-item">
                    <button type="submit"
                            class="ct-button bg-white text-gray-900 w-max max-h-[54px] hover:bg-zinc-300">Subscribe</button>
                </div>
            </div>

        </div>
    </div>
