@{
    ViewData["Title"] = "Home Page";
}

<div class="flex justify-center items-center mt-20">
    <h1 class="text-4xl font-bold text-red-500 bg-yellow-200 p-6 rounded-2xl shadow-xl hover:bg-yellow-300 transition-all">
        SetUP thanh cong



    </h1>
    <h1 class="h-100 flex justify-center">eyryeryyeyryeyryeyr</h1>
    <h1>ryryy</h1>
                                   <h2>erueyru</h2>
    <h2>erueyru</h2>
</div>
